<p>List of Bookmarks:</p>
<ul>
  <% @list.each do |bookmark| %>
    <li> <%= bookmark.title %> </li>
  <% end %>
</ul>
<form action='/bookmarks/new' >
  <input type="submit" value="Add New Bookmark" />
</form>